        /* Top Banner and Languages */
        .welcomeTop {
            background-image: url("../Images/Bannerexample.jpg");
            background-color: #13E8F1;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 461px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .center-text {
            color: black;
            font-family: Barlow;
            text-align: center;
            line-height: 1.5;
            transition: all 0.7s ease-in-out
        }

        .center-text h1 {
            color: black;
            font-size: 3.3em;
            letter-spacing: 0.5em;
            margin-top: 40px
        }

        .center-text p {
            color: black;
            font-weight: 600;
            font-size: 2em;
            letter-spacing: 0.1em;
        }


        .language-icons {
            box-shadow: 0px 3px 6px #00000029;
        }

        .icon-container {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
        }

        .icon-container img {
            margin-top: 15px;
            margin-bottom: 15px;
        }