        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            scroll-behavior: smooth;
        }

        .text-fonts-colors {
            color: #3A3A3A;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: normal;
            font-style: normal;
        }

        /* Universal Elements and Reset */
        /* Header & Nav Bar */

        header {
            width: 100vw;
            height: 80px;
            background-color: whitesmoke;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        nav {
            width: 100%;
            height: 30px;
            display: flex;
            flex-direction: column;
        }

        .hamburger {
            width: 100%;
            height: 30px;
            background-color: whitesmoke;
            color: #1AE0EC;
            font-size: 1.5rem;
            font-weight: bold;
            padding-left: 10px;
            display: none;
        }

        header ul {
            width: 60%;
            list-style-type: none;
            margin-top: 0;
            z-index: 9999;
            display: flex;
            justify-content: space-evenly;
        }

        a:hover {
            color: #1AE0EC;
            font-weight: bold;
        }

        ul li:first-child a {
            color: #1AE0EC;
            font-weight: bold;
        }

        header li {
            display: flex;
            flex-direction: row;
            width: auto;
        }

        header ul li a {
            display: block;
            line-height: 1.5;
            color: black;
            font-size: 1.2rem;
            text-decoration: none;
            text-align: center;
            z-index: 9999;
        }


        .logo {
            display: flex;
            align-items: center;
        }

        .nir-imber-logo {
            width: auto;
            height: 20px;
            margin-right: 20px;
        }

        .me-icon-logo {
            max-width: 62px;
            height: 62px;
            border-radius: 30px;
            margin-right: 20px;
        }

        /* Top Banner and Languages */
        .welcomeTop {
            background-image: url("../Images/Bannerexample.jpg");
            background-color: #13E8F1;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 460px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .center-text {
            color: black;
            font-family: Barlow;
            text-align: center;
            line-height: 1.5;
            transition: all 0.7s ease-in-out
        }

        .center-text h1 {
            color: black;
            font-size: 3.3rem;
            margin-top: 40px;
        }

        .center-text p {
            color: black;
            font-size: 1.25rem;
            letter-spacing: 0.1em;
            font-weight: bold;
        }

        .download-button {
            border-radius: 15px;
            margin-right: 25px;
            margin-top: 27px;
            border: 5px solid #1AE0EC;
            text-decoration: none;
            transition: color 0.5s;
            color: black;
            background-color: #1AE0EC;
            font-weight: bold;
            font-size: 14px;
            line-height: 26px;
            font-family: 'Barlow';
            width: 152px;
            margin-bottom: 25px;
            cursor: pointer;
        }

        .language-icons {
            box-shadow: 0px 3px 6px #00000029;
            margin-bottom: 3px;
        }


        .icon-container {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
        }

        .icon-container img {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        /* Main Area & Bio */
        .main {
            background-color: #EBFEFF;

        }

        .project-image {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        .main img {
            max-width: 70%;
            margin-top: 100px;
            margin-bottom: 100px;
            box-shadow: 0px 0px 40px #00000066;
        }

        /* Footer Area */
        .footer-area {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
            position: relative;
            bottom: 0;
        }

        .footer-content {
            margin: auto;
            display: flex;
            justify-content: space-between;
        }

        .footer-content p,
        .footer-content h4 {
            margin: 0;
        }

        @media screen and (max-width: 600px) {
            .nir-imber-logo {
                display: none;
            }

            header ul {
                width: auto;
            }
        }

        @media (max-width: 400px) {
            .hamburger {
                display: block;
            }

            .center-text {
                color: black;
                font-family: Barlow;
                text-align: center;
            }

            .center-text h1 {
                font-size: 2.5rem;
                margin-top: auto;
            }

            .center-text p {
                font-size: 1rem;
                margin-bottom: 20px;
                padding: 10px;
            }

            header ul li a {
                display: none;
                background-color: whitesmoke;
                line-height: 2;
                width: 100%;
                z-index: 9998;
            }

            nav ul {
                display: block;
            }

            .hamburger:hover+ul li a {
                display: block;
            }


            .download-button {
                margin-top: auto;
            }

            /* Logo  */
            /* Responsive- Hamburger & Nav  - END OF SECTION*/

            .center-text {
                color: black;
                font-family: Barlow;
                font-size: 1rem;
                text-align: center;
            }

            .icon-container {
                gap: 8px
            }

            .icon-container img {
                margin-top: 7px;
                margin-bottom: 5px;
                width: 45px;
                height: 45px;
            }


            .profile-image {
                margin-top: 0;
            }
        }